/vaja2/Lean_Management_Waste_Vaja_Scenariji.docx
/vaja2/Predloga_Analiza_Izgub_in_Kaizen.docx
/vaja2/Vaja 2 - WASTE.docx
/vaja3/dn/
/vaja3/GROUP/Opis primerov.docx
/vaja3/GROUP/Predloga_Tabela_Opis_Procesov_VSM.docx
/vaja3/GROUP/Vaja3_VSM_Analiza_procesov_opisi.docx
/kolokvij/
